.column1 {
  background-color: green;
  height: 500px;
  width: 32%;
  margin: 5px;
  float: right;
}
.column2 {
  background-color: white;
  height: 500px;
  width: 32%;
  margin: 5px;
  float: right;
}
.column3 {
  background-color: blue;
  height: 500px;
  width: 32%;
  margin: 5px;
  float: right;
}
h1 {
  color: purple;
  text-align: center;
  font-weight: bolder;
}
h2 {
  font-size: 15px;
  font-style: bold;
  text-align: center;
  font-family: fantasy;
}
body {
  background-color: gold;
  font-family: sans-serif;
  text-align: center;
}
img {
  width: 50%;
}
